# Assignment 1(a)
All questions are weighted the same in this assignment.
## Part 1
The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning. 

The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

Note: Please open the olympic.csv file and go through the code in the below block to see how cleaning has been done to view the data in understandable format.

In [4]:
import numpy as np
import pandas as pd


df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head(10)

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ
Australia,25,139,152,177,468,18,5,3,4,12,43,144,155,181,480,AUS
Austria,26,18,33,35,86,22,59,78,81,218,48,77,111,116,304,AUT
Azerbaijan,5,6,5,15,26,5,0,0,0,0,10,6,5,15,26,AZE
Bahamas,15,5,2,5,12,0,0,0,0,0,15,5,2,5,12,BAH
Bahrain,8,0,0,1,1,0,0,0,0,0,8,0,0,1,1,BRN

### Question 0 (Example)

What is the first country in df?

*This function should return a Series.*

In [38]:
# This function returns the row for Afghanistan, which is a Series object.
def answer_zero():
    #write your code below
    return df.iloc[0:1,:]
    

# You can examine what your function returns by calling it in the cell. 
answer_zero()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID,Points
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG,2

### Question 1
Which country has won the most gold medals in summer games?

*This function should return a single string value.*

In [37]:
def answer_one():
    #write your code below
    x = df['Gold.2']
    Max=max(x)
    for i, x in enumerate(x):
        if x==Max:
            b=i
    return df.iloc[b,15]

### Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

*This function should return a single string value.*

In [36]:
def answer_two():
    #write your code below
    x = df['Gold'] 
    y = df['Gold.1']
    z=abs(x-y)
    Max=max(z)
    for i, z in enumerate(z):
        if z==Max:
            b=i
    
    return df.iloc[b,15]

### Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count? 

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

*This function should return a single string value.*

In [35]:
def answer_three():
    #write your code below:
    s_gold=df['Gold']
    w_gold=ddf['Gold.1']
    
    for sg,wg in zip(s_gold,w_gold):
        if(sg > wg and sg >= 1 and wg >= 1):
            ratio = ((sg - wg)/(sg + wg))
        elif(sg <= wg and sg >= 1 and wg >= 1):
            ratio = ((wg - sg)/(sg + wg))
        if(max_result <= ratio):
            max_result = ratio
            return max_result

### Question 4
Write a function that creates a Series called "Points" which is a weighted value where each gold medal (`Gold.2`) counts for 3 points, silver medals (`Silver.2`) for 2 points, and bronze medals (`Bronze.2`) for 1 point. The function should return only the column (a Series object) which you created, with the country names as indices.

*This function should return a Series named `Points` of length 146*

In [34]:
def answer_four():
    #write your code below
    import csv
    df['Points'] = df['Gold.2']*3 + df['Silver.2']*2 + df['Bronze']
    return df['Points']

## Part 2
For the next set of questions, we will be using census data from the [United States Census Bureau](http://www.census.gov). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. [See this document](https://www2.census.gov/programs-surveys/popest/technical-documentation/file-layouts/2010-2015/co-est2015-alldata.pdf) for a description of the variable names.

The census dataset (census.csv) should be loaded as census_df. Answer questions using this as appropriate.

### Question 5
Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)

*This function should return a single string value.*

In [16]:
census_df =pd.read_csv('census.csv', index_col=0)
census_df.head()

,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
SUMLEV,,,,,,,,,,,,,,,,,,,,,
40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,4801108,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,55253,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,186659,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,27226,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,22733,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [31]:
def answer_five():  
    #write your code below
    x = df['COUNTY']
    Max = max(x)
    for i, x in enumerate(x):
        if x==Max:
            b=i
    return df.iloc[b,4]

### Question 6
**Only looking at the three most populous counties for each state**, what are the three most populous states (in order of highest population to lowest population)? Use `CENSUS2010POP`.

*This function should return a list of string values.*

In [30]:
def answer_six():
    #write your code below
    from csv import DictReader

    with open('census.csv') as f:
        census = [row['CENSUS2010POP'] for row in DictReader(f)]
        list_census = sorted(census, key=int)
        return (list_census[-1],list_census[-2],list_census[-3])

### Question 7
Which county has had the largest absolute change in population within the period 2010-2015? (Hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all six columns.)

e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-80| = 50.

*This function should return a single string value.*

In [29]:
def answer_seven():
    #write your code below
    first_yr = df['POPESTIMATE2010']
    second_yr = df['POPESTIMATE2011']
    third_yr = df['POPESTIMATE2012']
    forth_yr = df['POPESTIMATE2013']
    fifth_yr = df['POPESTIMATE2014']
    sixth_yr = df['POPESTIMATE2015']
    for first,second,third,forth,fifth,sixth in zip(first_yr,second_yr,third_yr,forth_yr,fifth_yr,sixth_yr):
        Min = min(first,second,third,forth,fifth,sixth)
        Max = max(first,second,third,forth,fifth,sixth)
        change = Max-Min
    df['Change'] = change
    x = df['Change']
    Max = max(x)
    for i, x in enumerate(x):
        if x==Max:
            b=i
    return df.iloc[b,5]

### Question 8
In this datafile, the United States is broken up into four regions using the "REGION" column. 

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

*This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by index).*

In [28]:
def answer_eight():
    #write your code below
    counties=census_df[census_df['SUMLEV']==50]
    regions = counties[(counties['REGION']==1) | (counties['REGION']==2)]
    washingtons = regions[regions['COUNTY'].str.startswith("Washington")]
    grew = washingtons[washingtons['POPESTIMATE2015']>washingtons['POPESTIMATES2014']]
    return grew[['STNAME','COUNTY']]